<!DOCTYPE html>
<html lang="en"> 
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<link rel="stylesheet" type="text/css" href= "{{ url_for('static',filename='chartjs/Chart.min.css') }}"/>
	<script src="{{ url_for('static',filename='chartjs/Chart.js') }}"></script>
</head>
<body>
    <div style="width: 100%; overflow: hidden;">
        <div style="width: 600px; float: left;"><canvas id="temperature"></canvas></div>
        <div style="margin-left: 620px;"> <canvas id="humidity"></canvas></div>
   </div>
    <div style="width: 100%; overflow: hidden;">
        <div style="width: 600px; float: left;"><canvas id="pressure"></canvas></div>
        <div style="margin-left: 620px;">DÓŁ LEWO</div>
    </div>
    <script>
        var ctx = document.getElementById('temperature').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ ts|tojson}},
                datasets: [{
                    label: 'Temperatura wody',
                    data: {{ temperature1|tojson}},
                    borderColor: 'rgba(255, 99, 132, 0.8)',
                    fill: false
                    
                },
                {
                    label: 'Temperatura powietrza w szklarni',
                    data: {{ temperature2|tojson}},
                    borderColor: 'rgba(54, 162, 235, 0.8)',
                    fill: false
                    
                },
                {
                    label: 'Temperatura powietrza',
                    data: {{ temperature3|tojson}},
                    borderColor: 'rgba(75, 192, 192, 0.8)',
                    fill: false
                    
                }
            ]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display:true,
                        text: 'Temperatura'
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                }
            }
        });
        </script>

    <script>
        var ctx = document.getElementById('humidity').getContext('2d');
        var myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ ts|tojson}},
            datasets: [{
                label: 'Wilgotność powietrza',
                data: {{ humidity|tojson}},
                borderColor: 'rgba(255, 99, 132, 0.8)',
                fill: false   
            }
        ]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                },
                title: {
                    display:true,
                    text: 'Wilgotność powietrza'
                }
            },
            scales: {
                yAxes: [{
                    ticks: {
                        beginAtZero: false
                    }
                }]
            }
        }
    });
    </script>
    <script>
        var ctx = document.getElementById('pressure').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'line',
            data: {
                labels: {{ ts|tojson}},
                datasets: [{
                    label: 'Ciśnienie powietrza',
                    data: {{ pressure|tojson}},
                    borderColor: 'rgba(75, 192, 192, 0.8)',
                    fill: false   
                }
            ]
            },
            options: {
                responsive: true,
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    title: {
                        display:true,
                        text: 'Ciśnienie'
                    }
                },
                scales: {
                    yAxes: [{
                        ticks: {
                            beginAtZero: false
                        }
                    }]
                }
            }
        });
    </script>

</body>
</html>
